
/** json_flaneur.css **/

/* CSS variables */

.jflaneur {

  font-family: ui-monospace, monospace;
  line-height: 1.2;

  --indent: 1em;
  --gap: 0.42em;
}

.jflaneur { /* light theme */

  --background-color: #ffffff;

  --array-key-color:  #0000ff;
  --object-key-color: #e05000;

  --string-color:    #c80000;
  --number-color:    #006b00;
  --boolean-color:   #7c00e3;
  --null-color:      #949494;
  --undefined-color: #aaaaaa;

  --punctuation-color: #000000;
  --collapsed-color:   #000000;

  --hilite-background-color: #e8e8e8;

  --query-color: black;
  --query-input-color: black;
  --query-input-background-color: transparent;
}

.jflaneur.jflaneur-dark { /* dark theme */

  --background-color: #1e1e1e;
  /* --background-color: #252526; */

  --array-key-color:  #9cdcfe;
  --object-key-color: #f78c6c;

  --string-color:    #ce9178;
  --number-color:    #b5cea8;
  --boolean-color:   #569cd6;
  --null-color:      #808080;
  --undefined-color: #999999;

  --punctuation-color: #808080;
  --collapsed-color: #808080;

  --hilite-background-color: #555555;

  --query-color: lightgrey;
  --query-input-color: white;
  /*--query-input-background-color: transparent;*/
}

.jflaneur.jflaneur-key-right { /* justifies object keys to the right */

  .jflaneur-object-key {

    justify-self: right;
  }
}

.jflaneur.jflaneur-key-indent { /* justifies object keys to the right */

  .jflaneur-object-body {
    display: block !important;
  }
  .jflaneur-object-key {
  }
  .jflaneur-object-val {
    padding-left: calc(2 * var(--indent));
  }
}

/* actual CSS */

.jflaneur {
  background-color: var(--background-color); /* :-) */
  position: relative;
}

.jflaneur-array.jflaneur-ked {
  &::before {
    cursor: pointer;
    content: "[ \2026  " attr(data-size) " \2026  ]" !important;
    color: var(--collapsed-color) !important;
  }
}
.jflaneur-com.jflaneur-array {
  &::before {
    cursor: pointer;
    content: '[';
    color: var(--punctuation-color); }
  &::after {
    content: ']';
    color: var(--punctuation-color); }
}

.jflaneur-object.jflaneur-ked {
  &::before {
    cursor: pointer;
    content: "{ \2026  " attr(data-size) " \2026  }" !important;
    color: var(--collapsed-color) !important;
  }
}
.jflaneur-object {
  &::before {
    cursor: pointer;
    content: '{'; color: var(--punctuation-color); }
  &::after {
    content: '}'; color: var(--punctuation-color); }
}

.jflaneur-com-body {
  display: grid;
  grid-template-columns: min-content auto;
}

.jflaneur-key {
  padding-left: var(--indent);
  user-select: none;
  &::after {
    content: ':';
    color: var(--punctuation-color);
    padding-right: var(--gap); }
}
.jflaneur-array-key {
  color: var(--array-key-color);
  justify-self: right;
}
.jflaneur-object-key {
  color: var(--object-key-color);
  /* justify-self: right; */
}

.jflaneur-undefined {
  &::before { content: 'undefined'; color: var(--undefined-color); }
}

.jflaneur-key:hover {
  background-color: var(--hilite-background-color);
}
.jflaneur-key:hover + .jflaneur-val {
  background-color: var(--hilite-background-color);
}

.jflaneur-array.jflaneur-empty {
  &::before { content: '[]';  color: var(--punctuation-color); }
  &::after { content: ''; }
}
.jflaneur-object.jflaneur-empty {
  &::before { content: '{}';  color: var(--punctuation-color); }
  &::after { content: ''; }
}

.jflaneur-string {
  color: var(--string-color);
}

.jflaneur-number {
  color: var(--number-color);
}
.jflaneur-boolean {
  color: var(--boolean-color);
}
.jflaneur-null {
  color: var(--null-color);
}

.jflaneur-ked {
  & * { display: none; }
  &::after { content: '' !important; }
}

.jflaneur-string.jflaneur-ked {
  max-height: 1lh;
  max-width: 80ch;
  overflow-x: clip;
  text-overflow: ellipsis;
  overflow-y: hidden;
  white-space: nowrap;
  /*word-wrap: break-word;*/
}

.jflaneur-query {
  color: var(--query-color);
  position: absolute;
  /*top: 0.6lh;*/
  top: 0.2lh;
  left: var(--indent);
}
.jflaneur-query input {
  color: var(--query-input-color);
  background-color: var(--query-input-background-color);
  display: none;
}
.jflaneur-query.open input {
  display: inline-block;
}
.jflaneur-query .jflaneur-q {
  cursor: pointer;
  display: inline-block;
  margin-left: 0.21em;
  font-size: 180%;
  transform: scaleX(-1);
  color: var(--punctuation-color);
}

