
/** json_flaneur.css **/

/* CSS variables */

.jflaneur {

  font-family: ui-monospace, monospace;
  line-height: 1.2;

  --indent: 1em;
  --gap: 0.42em;
}

.jflaneur { /* light theme */

  /* --background-color: #ffffff; */
  --background-color: #f5f5f5;

  --array-key-color:  #0451a5; /* deep blue */
  --object-key-color: #c75000; /* burnt orange */

  --string-color:    #a31515; /* deep red */
  --number-color:    #098658; /* forest green */
  --boolean-color:   #0000ff; /* pure blue */
  --null-color:      #808080; /* grey */
  --undefined-color: #999999; /* grey */

  --punctuation-color: #000000;

  --hilite-background-color: #eeeeee;
}
.jflaneur.jflaneur-dark { /* dark theme */

  --background-color: #1E1E1E;
  /* --background-color: #252526; */

  --array-key-color:  #9CDCFE;
  --object-key-color: #F78C6C;

  --string-color:    #CE9178;
  --number-color:    #B5CEA8;
  --boolean-color:   #569CD6;
  --null-color:      #808080;
  --undefined-color: #999999;

  --punctuation-color: #808080;

  --hilite-background-color: #555555;
}

/* actual CSS */

.jflaneur {
  background-color: var(--background-color); /* :-) */
}

.jflaneur-array.jflaneur-collapsed {
  &::before { content: '[ ... ]' !important; }
}
.jflaneur-collection.jflaneur-array {
  &::before { content: '['; color: var(--punctuation-color); }
  &::after { content: ']'; color: var(--punctuation-color); }
}

.jflaneur-object.jflaneur-collapsed {
  &::before { content: '{ ... }' !important; }
}
.jflaneur-object {
  &::before { content: '{'; color: var(--punctuation-color); }
  &::after { content: '}'; color: var(--punctuation-color); }
}

.jflaneur-collection {
}
.jflaneur-collection-body {
  display: grid;
  grid-template-columns: min-content auto;
}

.jflaneur-key {
  &::after {
    content: ':';
    color: var(--punctuation-color);
    padding-right: var(--gap); }
  padding-left: var(--indent);
}
.jflaneur-array-key {
  color: var(--array-key-color);
}
.jflaneur-object-key {
  color: var(--object-key-color);
}

.jflaneur-value {
}

.jflaneur-undefined {
  &::before { content: 'undefined'; color: var(--undefined-color); }
}

.jflaneur-key:hover {
  background-color: var(--hilite-background-color);
}
.jflaneur-key:hover + .jflaneur-value {
  background-color: var(--hilite-background-color);
}

.jflaneur-array.jflaneur-empty {
  &::before { content: '[]';  color: var(--punctuation-color); }
  &::after { content: ''; }
}
.jflaneur-object.jflaneur-empty {
  &::before { content: '{}';  color: var(--punctuation-color); }
  &::after { content: ''; }
}

.jflaneur-string {
  color: var(--string-color);
  &::before { content: '"'; color: var(--punctuation-color); }
  &::after { content: '"'; color: var(--punctuation-color); }
}

.jflaneur-number {
  color: var(--number-color);
}
.jflaneur-boolean {
  color: var(--boolean-color);
}
.jflaneur-null {
  color: var(--null-color);
}

.jflaneur-collapsed {
  & * { display: none; }
  &::after { content: '' !important; }
}

