
/* json_flaneur.css */

.jflaneur {
  --indent: 1em;
  --gap: 0.42em;
  --grey: grey;

  font-family: ui-monospace, monospace;
}

.jflaneur-collapsed {
  & * { display: none; }
  &::after { content: '' !important; }
}

.jflaneur-array.jflaneur-collapsed {
  &::before { content: '[ ... ]'; }
}
.jflaneur-collection.jflaneur-array {
  &::before { content: '['; }
  &::after { content: ']'; }
}

.jflaneur-object.jflaneur-collapsed {
  &::before { content: '{ ... }'; }
}
.jflaneur-object {
  &::before { content: '{'; }
  &::after { content: '}'; }
}

.jflaneur-collection {
}
.jflaneur-collection-body {
  display: grid;
  grid-template-columns: min-content auto;
}

.jflaneur-key {
  &::after { content: ':'; padding-right: var(--gap); }
  padding-left: var(--indent);
}
.jflaneur-array-key {
  color: var(--grey);
}

.jflaneur-value {
}

.jflaneur-undefined {
  &::before { content: '(undefined)'; color: var(--grey); }
}
